<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Libra_temp</title>
    <script type="importmap"></script>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="~/Content/navBar.css" />
</head>
<body>
    <div class="page">
        <div class="sidebar">
            @Html.Partial("_navBar")
        </div>

        <main>
            <div class="top-row px-4">
                @if (User.IsInRole("admin"))
                {
                    <a class="nav-link" style="color: cornflowerblue" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" style="margin-right: 0px" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                        @User.Identity.Name
                    </a>
                    <a class="nav-link" style="color: cornflowerblue">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" style="margin-right: 0px" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                        </svg>
                        @Html.ActionLink("Logout","Logout","Account")
                    </a>
                }
            </div>

            <article id="spa-content" class="content px-4 spa-content">
                @RenderBody()
            </article>
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/datatables");
    <script src="~/Scripts/Custom/SPA_navigation.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>