<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Libra_temp</title>
    <script type="importmap"></script>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="~/Content/navBar.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-icons/font/bootstrap-icons.min.css" />

    @*Toastr config*@

    @*<script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "iconClasses": {
                "error": "toast-error",
                "info": "toast-info",
                "success": "toast-success",
                "warning": "toast-warning"
            }
        }
    </script>*@
    @*End toastr config*@

</head>
<body>
    <div class="page">
        <div class="sidebar">
            @Html.Partial("_navBar")
        </div>

        <main>
            <div class="top-row px-4">
                    <a class="nav-link" style="color: cornflowerblue" href="#">
                        <i class="bi bi-person-fill" style="margin-right: unset"></i>
                        @User.Identity.Name
                    </a>
                    <a class="nav-link" style="color: cornflowerblue">
                        <i class="bi bi-box-arrow-right" style="margin-right: unset"></i>
                        @Html.ActionLink("Logout", "Logout", "Account")
                    </a>
            </div>

            <article id="spa-content" class="content px-4 spa-content">
                @RenderBody()
            </article>
        </main>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/datatables")
    <script src="~/Scripts/Custom/dataTables_setup.js"></script>
    <script src="~/Scripts/Custom/SPA_navigation.js"></script>
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("Scripts", required: false)
</body>
</html>


@*<script>
    document.addEventListener('DOMContentLoaded', function () {

        initDataTables();
        initTableInteractions("usersTable", "Admin", "User");
        initTableInteractions("PosesTable", "Pos", "Pos");
    });
</script>*@

<script>
    // sidebar navigation override
    document.addEventListener("click", e => {
        const link = e.target.closest("a[data-spa]");
        if (!link) return;

        e.preventDefault();
        loadPage(link.href);
    });

    document.addEventListener("click", function (e) {
        const btn = e.target.closest("#btnCancel");
        if (!btn) return;

        e.preventDefault();

        const path = window.location.pathname; // e.g. "/Admin/GetEditUser/2"
        const parts = path.split("/").filter(p => p); // ["Admin", "GetEditUser", "2"]

        if (parts.length > 0) {
            const base = "/" + parts[0]; // "/Admin" or "/Pos"
            loadPage(base);
        } else {
            loadPage("/Home/Index");
        }
    });

    $(document).ready(function () {
        $('input[type=text], input[type=password], input[type=email], select').on('input', function () {
            var fieldName = $(this).attr('name');
            $('span[data-valmsg-for="' + fieldName + '"]').text('');
            $(this).removeClass('is-invalid');
        });
    });

    // back btn in browser function
    window.addEventListener("popstate", (event) => {
        loadPage(location.pathname, false); // false = don't push state again
    });
</script>